<style type="text/css">
  #map_canvas { height: 50% }
</style>

<script type="text/javascript">
  $(function() {
    var latlng = new google.maps.LatLng(<%= @game.new? ? "45.52, -122.681944" : "#{h @game.latitude}, #{h @game.longitude}" %>);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: true
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    <% unless @game.new? %>
      GameMap.fitToRadius(<%= @game.radius %>);
    <% end %>
    
  	// Compute lat/long/radius
  	google.maps.event.addListener(map, 'bounds_changed', function(event) {
  	  GameMap.computeRadius();
  	});
  });

	GameMap.computeRadius = function() {
	  var center = map.getCenter();
	  var northEast = map.getBounds().getNorthEast();
	  var topMiddle = new google.maps.LatLng(northEast.lat(), center.lng());
	  var radius = google.maps.geometry.spherical.computeDistanceBetween(center, topMiddle);

	  $('#latitude').val(center.lat());
	  $('#longitude').val(center.lng());
	  $('#radius').val(radius);
	  return true;
	}

</script>

<h3>Name of the Game</h3>
<p><input name="game[name]" type="text" value="<%= h @game.name %>"></p>

<br>
<br>
<h3>Where is it?</h3>
<p>Move the map to where you want the game to be centered, and zoom to the zoom level you want. This will set the initial position of the game board when viewing the game.</p>

<div id="map_canvas" style="width:50%; height:50%"></div>

<input id="latitude" name="game[latitude]" type="hidden" value="<%= h @game.latitude %>">
<input id="longitude" name="game[longitude]" type="hidden" value="<%= h @game.longitude %>">
<input id="radius" name="game[radius]" type="hidden" value="<%= h @game.radius %>">

<input id="game_address" name="game[address]" type="hidden" value="<%= h @game.address %>">