<h1>MapAttack Game Editor</h1>

<% if @games.empty? %>
  No games yet!<br>
<% else %>
  <table>
    <tr>
      <th>Game Title</th>
      <th>Date</th>
      <th>Last pt.</th>
      <th>Status</th>
      <th>Players</th>
      <th>Points</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><a href="/game/<%= game.layer_id %>"><%= h game.name %></a></td>
        <td><%= h game.created_at.strftime('%D') %></td>
        <td><%= h game.players(:order => :updated_at).first.updated_at.strftime('%D') %></td>
        <td><%= h game.is_active? ? 'On' : 'Off' %></td>
        <td><%= h game.players.count %></td>
        <td><%= h game.total_points %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br><br>

Create New Game:
<form action="/admin/games" method="POST">
  Game Name: <input name="game[name]" type="text">
  <input type="submit" value="Create">
</form>